@import "./grid.scss";

body,
html,
#root {
  height: 100%;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Lucida Console", "Courier New", monospace;
}

p {
  margin-top: 0;
  margin-bottom: 0.2rem;
}