@import "./grid.scss";
@import "./button.scss";
@import "react-alice-carousel/lib/scss/alice-carousel.scss";

body,
html,
#root {
  height: 100%;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0.2rem;
}

strong {
  font-weight: 700;
}